@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neutral-0: 255 255 255;
  --neutral-50: 245 247 250;
  --neutral-100: 242 245 248;
  --neutral-200: 225 228 234;
  --neutral-300: 202 207 216;
  --neutral-400: 153 160 174;
  --neutral-500: 113 119 132;
  --neutral-600: 82 88 102;
  --neutral-700: 43 48 59;
  --neutral-800: 34 37 48;
  --neutral-900: 24 27 37;
  --neutral-950: 14 18 27;

  --primary-400: 96 165 250;
  --primary-500: 59 130 246;
  --primary-700: 29 78 216;
  --primary-900: 30 58 138;
  --success-500: 39 192 110;
}

@layer base {
  html,
  body {
    @apply m-0 overflow-x-clip p-0;
  }

  body {
    @apply bg-strong-950 font-sans text-base text-white antialiased;
  }
}
